<body>

<main>

<section id="section2" class="section">
<div class="contents row">
  <div class="content_kotoba">
   <% @kotobas.each do |kotoba| %>
      <%= link_to kotoba_path(kotoba.id), class: "content_link" do %>
        <div class="content_post" style="background-image:mitei ">
          <div class="leaf-1"></div> 
          <div class="content_post_box">
            <div class="content_post_time">
              <p><%= kotoba.created_at.in_time_zone.strftime('%Y-%m-%d %H:%M') %></p>
            </div> 
            <div class="content_post_main">
              <p><%= simple_format(truncate_with_newline(kotoba.text)) %></p>
            </div>
          </div> 
        </div>
     <% end %>   
    <% end %> 
  </div>
</div>
</section>

</main>

</body>
