<body>

<main>
<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @kotoba, local: true) do |form| %>
      <%= form.text_area :text, placeholder: "text", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>
</main>

</body>