<body>

<main>

<section id="section2" class="section">
<div class="contents row">
  <div class="content_kotoba">
   <% @kotobas.each do |kotoba| %>
      <%= link_to kotoba_path(kotoba.id), class: "content_link" do %>
        <div class="content_post" style="background-image:mitei ">
          <p><%= "この言の葉は#{(kotoba.created_at + 1.hours).in_time_zone.strftime('%Y-%m-%d %H:%M')}に流れていきます" %></p>
          <p><%= simple_format(truncate_with_newline(kotoba.text)) %></p>
        </div>
     <% end %>   
    <% end %> 
  </div>
</div>
</section>

</main>

</body>
