<div class="contents row">
  <% @kotobas.each do |kotoba| %>
    <div class="content_post" style="background-image:mitei ">
        <p><%= kotoba.text.truncate(45, omission: '...') %></p>
    </div>
  <% end %>
</div>