<div class="contents row">
  <% @kotobas.each do |kotoba| %>
    <%= link_to kotoba_path(kotoba.id), class: "content_link" do %>
      <div class="content_post" style="background-image:mitei ">
          <p><%= kotoba.text.truncate(45, omission: '...') %></p>
      </div>
      
    <% end %>  
  <% end %>
</div>
